body{
    margin-left: 1cm;
    margin-right: 1cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid;
    padding: 20px;
}
.h1{
    font-size: 18px;
}

.h2{
    font-size: 14px;
}
.h3{
    font-size: 10px;
}

.label{
    font-size: 12px;
}